:root {
    --color-primario: #4851a1;
    --color-secundario: #000c74;
    --color-activo: #000c74;
    --color-desactivo: #95a5a6;
    --fuente-principal: 'Roboto', sans-serif;
    --fuente-secundaria: 'Open Sans', sans-serif;
}


body {
    font-family: var(--fuente-principal);
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-image: url('../img/fondo.jpg'); /* Aquí agregamos el fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    min-height: 100vh;
    text-align: center;
    padding-top: 80px; /* Para evitar que el contenido se superponga con el header */
}

/* Cabecera y navegación */
header {
    background-color: var(--color-primario);
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: var(--color-secundario);
    background-color: rgba(255, 255, 255, 0.2);
}

/* Estilo de los títulos */
h1 {
    font-family: var(--fuente-secundaria);
    color: #000c74;
    font-size: 60px; /* Tamaño más grande */
    font-weight: bold;
    margin: auto;
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
}

/* Estilo de los párrafos */
p {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;

}

/* Enlaces dentro de p */
p a {
    color: var(--color-primario);
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    body {
        padding-top: 100px; /* Para mayor espacio en pantallas pequeñas */
    }

    nav a {
        font-size: 16px;
    }

    h1 {
        font-size: 36px; /* Reducir tamaño en pantallas pequeñas */
    }

    p {
        font-size: 16px;
    }
}

/* Estilo de la imagen */
img {
    background-color: transparent !important; /* Asegura que el fondo sea transparente */
    border: none !important; /* Elimina cualquier borde que pudiera aparecer */
    max-width: 50%; /* Limita el ancho de la imagen para que no sea demasiado grande */
    height: auto; /* Mantiene las proporciones de la imagen */
    margin: auto; /* Espacio alrededor de la imagen */
}


/* Footer */
footer {
    color: #f4f4f4;
    background-color: var(--color-primario);
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto; /* Esto asegura que el footer siempre esté al final */
}

